@model IEnumerable<teste.Models.Pessoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body id="page-top">

            <div class="content">
                <div class="container-fluid">
                    <div class="row">

                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">Pessoas</h1>
                            <p class="mb-4">
                                @Html.ActionLink("Cadastrar nova Pessoa", "Create")
                            </p>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Pessoas cadastrada</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>E-mail</th>
                                                    <th>Novo Endereço</th>
                                                    <th>Ação</th>
                                                </tr>
                                            </thead>
                                          
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.nome)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.email)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink(" Cadastrar Endereço ", "Endereco", new { id = item.id })
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.id }) 
                                                        
                                                    </td>
                                                </tr>
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </body>
